

.u-hide-for-tablet {
  display: none;
}



.u-vCenter {
	width:90%;
	margin:0 auto;
}

.section--contact-addresses {
	h4 {
		margin-bottom:5px;
		margin-top:5px;
	}
}


h2{
	font-size:48px;
}


.section-text, .imgbg {
	height:500px;
}

.section--finishline .imgbg img {
	max-width:55%;
	margin-top:40px;
}


.logo-link {
	float:left;
	width:250px;
}
